@import url("../common/common-header.css");
@import url("../common/common-breadcrumb.css");
@import url("../common/common-footer.css");

.product-thumbnail img {
    width:100%;
}

.product-infor .title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: .3px;
    line-height: 1.1;
}

.product-infor .price {
    color: var(--first-color);
    font-size: 25px;
    font-weight: 700;
    margin: 15px 0px;
}

.product-infor .desc {
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: .2px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}