.form-container {
    box-shadow: 0px 0px 2px 0px #000000;
    margin: 0px auto;
    padding: 15px;
    width: 450px;
}

.form-label {
    font-size: 1.7rem;
}

.form-control {
    font-size: 1.7rem;
    padding: 2rem;
}