.pagination-component {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.pagination-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.pagination-list li a {
    background-color: green;
    display: block;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 10px;
}

.pagination-list li a:hover {
    text-decoration: none;
}