:root {
    --first-color: #0361A9;
    --last-color: #f9911b;
    --two-color: #898DAA;
    --text-color: #222222;
    --text-color-grey-01: #90908E;
    --color-grey: #F4F5F9;
}

html, body {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}