<section class="section-service-component">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <div class="service-container justify-content-center justify-content-md-start">
                    <img src="/images/icons/icon-truck.png" alt="icons" />
                    <div class="service-container_content">
                        <h2 class="title">Miễn Phí Ship</h2>
                        <h3 class="sub-title">Đơn hàng trên 1 triệu</h3>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <div class="service-container justify-content-center justify-content-md-start">
                    <img src="/images/icons/icon-purchase.png" alt="icons" />
                    <div class="service-container_content">
                        <h2 class="title">Miễn Phí trả hàng</h2>
                        <h3 class="sub-title">Trong 30 ngày</h3>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <div class="service-container justify-content-center justify-content-md-start">
                    <img src="/images/icons/icon-bag.png" alt="icons" />
                    <div class="service-container_content">
                        <h2 class="title">Nhận ưu đãi 20%</h2>
                        <h3 class="sub-title">Khi đăng ký thành viên</h3>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <div class="service-container justify-content-center justify-content-md-start">
                    <img src="/images/icons/icon-operator.png" alt="icons" />
                    <div class="service-container_content">
                        <h2 class="title">Hỗ trợ 24/24</h2>
                        <h3 class="sub-title">Dịch vụ Hỗ trợ 24/24</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>