<section class="section-new-letter">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-5 mb-lg-0">
                <div class="new-letter-container">
                    <img src="/images/icons/icon-email.svg" alt="icon">
                    <p>Theo dõi bản tin <br/> ...Để nhận các chương trình khuyến mãi hấp dẫn</p>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-5 mb-lg-0 d-flex align-items-center">
                <div class="new-letter-container w-100">
                    <form class="w-100 new-letter-form">
                        <div class="form-group d-flex justify-content-center justify-content-md-end mb-0">
                            <input type="email" class="form-control" placeholder="Nhập email của bạn">
                            <button type="submit">Theo dõi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>