<section class="section-new-letter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <div class="new-letter-container">
                    <img src="/images/icons/icon-email.svg" alt="icon">
                    <p>Theo dõi bản tin</p>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <div class="new-letter-container">
                    <p>...Để nhận các chương trình khuyến mãi hấp dẫn</p>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <div class="new-letter-container">
                    <form class="w-100">
                        <div class="col-sm-3 my-1">
                            <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                              </div>
                              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
                            </div>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>