<div class="breadcrumb-component">
    <div class="container">
        <ul class="list-unstyled breadcrumb-list">
            <li><a href="/">Trang chủ</a></li>
            <% if(path === 'Gioi-thieu') { %>
                <li>Giới thiệu</li>
                
            <% } else if(path === 'Gio-hang') { %>
                <li>Giỏ hàng</li>

            <% } else if(path === 'Chi-tiet-san-pham') { %>
                <li>Chi tiết sản phẩm</li>

            <% } else { %>
                <li>Đặt hàng</li>
            <% } %>
        </ul>
    </div>
</div>