    <% if(footer) { %>
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="footer-container">
                            <a href="/">
                                <img src="/images/logo-book.png" alt="logo" />
                            </a>
                            <p>Nemo book nhận đặt hàng trực tuyến và giao hàng tận nơi.
                            KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống Nemo book trên toàn quốc.</p>
                        </div>
                    </div>

                    <div class="co-12 col-sm-4">
                        <div class="footer-container">
                            <h2 class="footer-title">Dịch vụ</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">Điều khoản sử dụng</a></li>
                                <li><a href="#">Chính sách bảo mật thông tin cá nhân</a></li>
                                <li><a href="#">Chính sách bảo mật thanh toán</a></li>
                                <li><a href="#">Giới thiệu Nemo book</a></li>
                                <li><a href="#">Hệ thống chăm sóc khách hàng</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4">
                        <div class="footer-container">
                            <h2 class="footer-title">Hỗ trợ</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">Chính sách đổi - trả - hoàn tiền</a></li>
                                <li><a href="#">Chính sách bảo hành - bồi hoàn</a></li>
                                <li><a href="#">Chính sách vận chuyển</a></li>
                                <li><a href="#">Chính sách khách sỉ</a></li>
                                <li><a href="#">Chính sách thanh toán và xuất HĐ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <% } %>

        <script src="/js/bootstrap/jquery-3.7.0.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <script src="/js/common/header.js"></script>
    </body>
</html>