    
        <footer>
            <div class="container-fluid">
                Footer
            </div>
        </footer>
        <script src="/js/bootstrap/jquery-3.7.0.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <script src="/js/common/header.js"></script>
    </body>
</html>