<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-lg-2">
                <h1 class="header-logo">Book nemo</h1>
            </div>

            <ul class="col-lg-7 d-none d-lg-flex">
                <li><a href="/" class="<%= path == 'Trang-chu'? 'active' : '' %>">Trang chủ</a></li>
                
                <% if(isLogin) { %>
                    <li><a href="#">Giỏ hàng</a></li>
                    <li><a href="#">Đặt hành</a></li>
                <% } %>

                <% if (isRole === 'Admin') { %>
                    <li><a href="/admin" class="<%= path == 'Quan-tri'? 'active' : '' %>">Quản trị</a></li>
                <% } %>
            </ul>

            <ul class="col-lg-3 d-none d-lg-flex justify-content-end">
                <% if(!isLogin) { %>
                    <li><a href="/user/signin" class="<%= path == 'Dang-nhap'? 'active' : '' %>">Đăng nhập</a></li>
                    <li><a href="/user/signup" class="<%= path == 'Dang-ky'? 'active' : '' %>">Đăng ký</a></li>
                <% } else { %>
                    <li><a href="/user/signout">Đăng xuất</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</header>