<div class="tab-category-component">
    <div id="tab-category" class="category-wrapper">
        <h2 class="tab-title">Danh mục sản phẩm</h2>
        <ul>
            <li><a href="#">Sách ngoại ngữ</a></li>
            <li><a href="#">Sách IT</a></li>
            <li><a href="#">Sách chuyên ngành</a></li>
            <li><a href="#">Sách luyện thi</a></li>
            <li><a href="#">Sách tiếng Hàn</a></li>
            <li><a href="#">Sách tiếng Nhật</a></li>
            <li><a href="#">Sách tiếng Trung</a></li>
            <li><a href="#">Truyện đọc</a></li>
        </ul>
    </div>
</div>